<link rel="stylesheet" type="text/css" href="css/about.css" />

<div class="row">
    <div class="col-8">
        <h1 id="subTitle">About the project: </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Steganography">Steganography</a> is a tool used to hide data in plain sight as a way to avoid being found. This concept gained popularity to bypass country firewalls like <a target="_blank" href="https://en.wikipedia.org/wiki/Great_Firewall">China's Great Firewall</a> There are various ways to achieve this like embedding a code in a text file such that the first letter of every word is the message, or embedding an image onto another through the use of bits among many others. This project combines a bit of each of those approaches by using an image as the base for the encrypted text text that is then added to the image based on the binary values by changing the alpha channel of the image provided. The program then decrypts the data by reading the alpha values and converting binary to text.
        <br>
        <br>
        This project was inspired by <a href="https://www.theregister.com/2002/01/29/peeka_booty_to_debut/" target="_blank" > Peek-A-Booty </a> and the Book,<a href="https://www.routledge.com/Hacktivism-and-Cyberwars-Rebels-with-a-Cause/Jordan-Taylor/p/book/9780415260046" target="_blank">Hacktivism and Cyberwars Rebels with a Cause</a>. In this book, the authors talk about how Peek-A-Booty was being developed as a tool to help bypass prying eyes and government firewalls and it looked to include a steganographic approach to various tasks. 
        </h4>
    </div>



</div>
    <div class="row">
        <div class="col-8">
            <br>
            <h1 id="subTitle">Resources: </h1>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <h4>
                The project was built using express and handlebars as a way to explore both of those tools. There were various iterations that used express, middleware and multer to upload and download files. The approach had to be changed various times so its a bit different in its final form but still uses express and handlebars at its core. The following tools were used to enhance the project presented ehre 
            </h4>
            <ul>
                <li>
                    <a href="https://github.com/FrancDuarteMar/Dig345-No-Utility-Project" target="_blank">Github Repository</a>
                </li>
                <li><a href="https://docs.google.com/presentation/d/1TS_3pvdo1uydMtgI7IUwU-AfmiSLU43YdyJPX8W869I/edit#slide=id.p" target="_blank">Presentation</a></li>
                <li><a href="https://www.figma.com/file/Ex0wAGlbgI6R4MGJoJ3fn5/DIg-345--No-Utility?node-id=1%3A2&t=h8zkXrMJRHc5WBby-1" target="_blank">Figma Design</a></li>
                <li>
                    <a href="https://github.com/petereigenschink/steganography.js/" target="_blank">Steganography Library Adapted</a>
                </li>

                <li>
                    <a href="https://codepen.io/tusharbandal/pen/YWadbB" target="_blank">Image Drag abd Drop Adapted</a>
                </li>

                <li>
                    <a href="https://github.com/codrops/OffCanvasMenuEffects" target="_blank"> Menu Bar Animation</a>  
                </li>


            </ul>
        </div>
    </div>