<link rel="stylesheet" type="text/css" href="css/home.css" />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="main-text" id="promptText">
                Text to Encode:
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                <textarea id="textFormArea" class="inputArea" type="text"
                    name="mytext" style="width: 100%; height:7rem"
                    placeholder="Enter text to be encrypted "></textarea>
        </div>
        <div class="col-md-4">
            <form id="radioForm" onsubmit="return encode()">
                <input type="radio" id="encBubble" name="encDec" value="encrypt"
                    checked>
                <label for="encBubble">Encrypt</label><br>
                <input type="radio" id="decBubble" name="encDec"
                    value="decrypt">
                <label for="css">Decrypt</label><br>
                <input id="submitButton" type="button" value="Submit" style = "font-size:207px">
            </form>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12 uploadContainer">
            <span class="dragBox">
                <p class="dragText">Click or Drag Image to Upload</p>
                <input class="btn btn-primary" type="file" name="file"
                    id="uploadSubmit" onChange="dragNdrop(event)"
                    ondragover="drag()" ondrop="drop()" />
            </span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4 id="firstImageTitle">Uploaded Image:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="preview"></div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <h4 id="secondImageTitle">Encrypted Image:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img id="encryptedImage" src="" style="width: 100%;" alt="" />
        </div>
    </div>


    <button class="btn" id="encryptedDownload">
        <a id="downloadLink" class="fa fa-download" href="javascript:void(0)"
            download="TotallyNotAnEncryptedFile.png">Download Encrypted
            Image</a>
    </button>


    <script src="js/steganography.js"></script>

    <script src="js/stegManager.js"></script>

</div>