<link rel="stylesheet" type="text/css" href="css/steg.css" />

<div class="row">
    <div class="col-6">
        <h1 id="subTitle">Steganography: </h1>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>
        <a target="_blank" href="https://en.wikipedia.org/wiki/Steganography">Steganography</a> is a tool used to hide data in plain sight as a way to avoid being found. This concept gained popularity to bypass country firewalls like <a target="_blank" href="https://en.wikipedia.org/wiki/Great_Firewall">China's Great Firewall</a> There are various ways to achieve this like embedding a code in a text file such that the first letter of every word is the message, or embedding an image onto another through the use of bits among many others. This project combines a bit of each of those approaches by using an image as the base for the encrypted text text that is then added to the image based on the binary values by changing the alpha channel of the image provided. The program then decrypts the data by reading the alpha values and converting binary to text. </h4>
    </div>
</div>
