<p>hello</p>

<form method="post" enctype="multipart/form-data" action="/uploadTest">
    <input type="text" name="mytext" Enter Text to Encode />

    <input type="file" name="file">

    <input type="submit" value="Encode">

</form>

<script src="../lib/s.js"></script>